pandas
tiktoken
lancedb
openai
langchain_openai
langchain
langchain_community
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
blinker
bzip
ca-certificates
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
decorator
deprecation
distro
expat
frozenlist
gitdb
gitpython
greenlet
h
httpcore
httpx
idna
jinja
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
lancedb
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
libffi
markdown-it-py
markupsafe
marshmallow
mdurl
multidict
mypy-extensions
numpy
openai
openssl
orjson
overrides
packaging
pandas
pillow
pip
protobuf
py
pyarrow
pydantic
pydantic-core
pydeck
pygments
pylance
python
python-dateutil
python-dotenv
pytz
pyyaml
ratelimiter
referencing
regex
requests
retry
rich
rpds-py
semver
setuptools
six
smmap
sniffio
sqlalchemy
sqlite
streamlit
tenacity
tiktoken
tk
toml
toolz
tornado
tqdm
typing-extensions
typing-inspect
tzdata
urllib
vc
vs_runtime
watchdog
wheel
xz
yarl
zlib
